@page "/authentication/logout"
@using BookShelves.Shared.Services.ServiceInterfaces
@inject NavigationManager navigationManager
@inject IExternalAuthenticationStateProvider AuthStateProvider

<div class="loader loader-bouncing"><span>Redirecting...</span></div>
@code{
    protected override void OnInitialized()
    {
        AuthStateProvider.LogoutAsync().Wait();
        navigationManager.NavigateTo("/");
    }
}