@page "/library"
@using BlazorApp.Shared 
@inject HttpClient Http

<h1>Library</h1>

<div>
    @*<a href="/library/addbook">Create</a>*@
    <input type="button" data-toggle="modal" data-target="#bookDetail" class="btn btn-primary" value="Add Book" @onclick="(() => InitializeBookObject())" />
</div>

@if (books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
@*                <th>Temp. (F)</th>
                <th>Summary</th>
*@            </tr>
        </thead>
        <tbody>
            @foreach (var book in books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
@*                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
*@                </tr>
            }
        </tbody>
    </table>
}

<BookDetail BookObject=@bookObject></BookDetail>

@code {
    private Book[] books = new Book[]{};
    Book bookObject = new Book();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            books = await Http.GetFromJsonAsync<Book[]>("/api/books") ?? new Book[] { };
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }

    private void InitializeBookObject()
    {
        bookObject = new Book();
    }
}
