@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<AuthorizeView>
    <Authorized>
        Hello, @context!.User!.Identity!.Name!
        <a href="/.auth/logout?post_login_redirect_uri=/">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a href="/.auth/login/aad?post_login_redirect_uri=.referrer">Login</a>
    </NotAuthorized>
</AuthorizeView>

@code {
}