@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<AuthorizeView>
    <Authorized>
        <div class="row">
            <div class="col"> Hello, @context!.User!.Identity!.Name!</div>
            <div class="col"> <a href="/.auth/logout">Logout</a></div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="row">
            <div class="col"></div>
            <div class="col"> <a href="/.auth/login/aad">Login</a></div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
}